<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>

<body>
    <div class="n-nav"><h2>Mini WhatsApp</h2></div>
   <div class="new-wrapper">
    <form method="post" action="/chats">
        <div class="form-container">
            <label for="from">From</label>
            <input type="text" name="from">
            <label for="chat">Message</label>
            <textarea name="msg" cols="30" rows="10" placeholder="Enter text"></textarea>

            <label for="to">To</label>
            <input type="text" name="to">
            <button class="glow-on-hover">create post</button>
        </div>
    </form>
   </div>

</body>

</html>